<head>
  <meta charset="UTF-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://kit.fontawesome.com/a169f58e91.js" crossorigin="anonymous"></script>
  <script src="assets/js/script.js"></script>
  <style>
	body
	{
		background-color: {{ site.background.color }};
	}

  * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: lighter;
    }

  .main-content {
	  background-color: {{ site.foreground.color }};
  }

  </style>
</head>